.page-admin-behat-edit {
  ul.sortable {
    list-style: none;
  }
  .scenario {
    li {
      font-size: 18px;
      line-height: 24px;

      div.help-block {
        font-size: 10px;
      }

    }

  }
  label, .qualifier {
    font-size: 18px;
  }
}
