.page-admin-behat-view {
  ul  {
    list-style: none;
    li {
      font-size: 18px;
      line-height: 24px;

      div.help-block {
        font-size: 10px;
      }
    }
    li.tag {
        display: block;
    }
  }
  label, .qualifier {
    font-size: 14px;
  }
  li.spaces-two {
    margin-left: 10px;
  }

  li.spaces-four {
    margin-left: 20px;
  }

}
