
.running-tests, .saving-tests {
  display: none;
}

a.btn {
  margin: 0px 5px 0px 5px;
}

button {
  max-width: 110px;
}

i {
  margin-left: 4px;
  margin-right: 4px;
}

.main-container.container {
  max-width: 1600px;
}

.running-tests, .saving-tests {
  display: none;
}

a.btn {
  margin: 0px 5px 0px 5px;
}

button {
  max-width: 110px;
}

.spaces-four {
  margin-left: 16px;
}

.spaces-two {
  margin-left: 2px;
}

#column-1 {
  margin-right: 10px;
}

.running-tests {
display: none;
}

input[type=hidden], ul.hidden, li.tag {
  display: none;
}

ul.scenario {
 list-style-type: none;
}

/* not sure why my buttons are not working style wise */
#edit-actions a {
    height: 40px;
    width: 140px;
}