<button data-target="{{ filename_id }}" class="new-row btn btn-sm btn-info">add row</button>
<button data-target="{{ filename_id }}" data-filename="{{ filename }}"  class="create-row btn btn-sm btn-danger">save this test</button>
<button data-target="{{ filename_id }}" data-filename="{{ filename }}"  class="session-set btn btn-sm btn-warning">use for next test?</button>
<button data-target="{{ filename_id }}" data-filename="{{ filename }}"  class="clone-row btn btn-sm btn-default">clone set</button>
