<table class="tokens table table-striped table-condensed">
    <thead>
        <tr>
            <th>Key</th>
            <th>Token</th>
        </tr>
    </thead>
    {% for key, token in tokens %}
        <tr>
            {% if key == 'Default URL' %}
                <td><strong>{{ key }}</strong></td><td><a class="editable" href="#" id="{{ token }}" data-type="selectable" data-title="{{ token }}" >{{ token }}</a></td>
            {% else %}
                <td><a class="editable" href="#" id="{{ key }}" data-type="text">{{ key }}</a></td><td><a class="editable" href="#" id="{{ token }}" data-type="textarea" data-title="{{ token }}" >{{ token }}</a></td>
            {% endif %}
        </tr>
    {% endfor %}

</table>
<button class="new-row btn btn-sm btn-info">add row</button>
<hr>