<div class="table-wrapper table-wrapper-{{ filename_id }}">
    <table class="tokens table table-striped table-condensed" id="{{ filename_id }}">
    <thead>
    <tr>
        <th>Key</th>
        <th>Token</th>
    </tr>
    </thead>
    <tr>
        <td><strong>Default URL</strong></td><td><a data-value="" class="selectable" href="#" data-type="select" data-title="" ></a></td>
    </tr>
    <tr>
        <td><a class="editable" href="#" data-type="text">Key to look for</a></td><td><a class="editable" href="#" data-type="textarea" data-title="Token" >Token</a></td>
    </tr>

</table>
  {% include 'buttons.html' %}
    <hr>
</div>
